{% extends "base.html" %}
{% load widget_tweaks %}


{% block page-title %}
TIDP | {{title}} | {{object}}
{% endblock page-title %}


{% block content %}


<form method="POST">
    {% csrf_token %}

    <div class="form-row">
    {% for field in form %}
        <div class="col-sm-6">
            {{field.label_tag}}
            {{field|add_class:"form-control"}}
        </div>
    {% endfor %}
    </div>

    <input type="hidden" name="next" id="next" value="{{request.GET.next}}">
    <button type="submit" class="mt-4 w-25 btn btn-primary float-right">Update</button>
    </div>
  </form>



{% endblock %}


