{% extends "base.html" %}
{% load widget_tweaks %}


{% block page-title %}
TIDP | Project | {{project}}
{% endblock page-title %}


{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" style="border: 1px solid #B11FB3;">
    <a class="nav-link active" id="detail-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail" aria-selected="true"><i class="fa fa-eye"></i> Project Details</a>
  </li>
  <li class="nav-item" style="border: 1px solid #B11FB3;">
    <a class="nav-link" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="false"><i class="fa fa-bars"></i> Tasks</a>
  </li>
  <li class="nav-item" style="border: 1px solid #B11FB3;">
    <a class="nav-link" id="leaders-tab" data-toggle="tab" href="#leaders" role="tab" aria-controls="leaders" aria-selected="false"><i class="fa fa-users"></i> Task Leaders</a>
  </li>
  <li class="nav-item" style="border: 1px solid #B11FB3;">
    <a class="nav-link" id="members-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false"><i class="fa fa-users"></i> Task Members</a>
  </li>

</ul>

<div class="tab-content" id="myTabContent">

  <!-- Project Details -->
  <div class="tab-pane fade show active" id="detail" role="tabpanel" aria-labelledby="detail-tab">
      <ul class="list-group mt-3">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Project Name:</div>
            <div class="col-sm-9">{{project.name}} </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Client:</div>
            <div class="col-sm-9">{{project.client}} </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Project Number:</div>
            <div class="col-sm-9">{{project.number}} </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Project Code:</div>
            <div class="col-sm-9">{{project.code}} </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Project Discipline:</div>
            <div class="col-sm-9">{{project.discipline}} </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">Discipline Category:</div>
            <div class="col-sm-9">{{project.discipline_category}} </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">MIDP/TIDP Template:</div>
            <div class="col-sm-9">{{project.get_midp_tipd_template_display}} </div>
          </div>
        </li>
        {% if request.user.is_superuser %}
        <li class="list-group-item">
          <a class="btn btn-secondary text-white bs-modal" data-form-url="{% url 'tidp:project-update' project.id %}" data-toggle="tooltip"><i class="fa fa-edit"></i> Edit Project</a>
          <a class="btn btn-danger text-white bs-modal" data-form-url="{% url 'tidp:project-delete' project.id %}" data-toggle="tooltip"><i class="fa fa-trash"></i> Delete Project</a>
        </li>
        {% endif %}

    </ul>

  </div>

  <!-- Tasks -->
  <div class="tab-pane fade" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
    <div class="mt-3">
      {% if roles %}

        {% for role in roles %}
          <h5>{{role.role.name}} - {{role.company.company_name}}</h5>
          <div class="mb-2">
            <a href="{% url 'tidp:projecttask-create' project.id project.discipline.id project.discipline_category.id role.id role.company.id %}" class="btn btn-sm btn-primary">Add new task <i class="fa fa-plus"></i></a>
            <a href="{% url 'tidp:import-projecttask-project' project.id role.id %}" class="btn btn-sm btn-info">Import Tasks <i class="fa fa-upload"></i> </a>
            <a href="{% url 'tidp:export-tasks' project.id role.id %}" class="btn btn-sm btn-secondary">Export to excel <i class="fa fa-download"></i></a>

            <div class="float-right">
            {% if role.is_active %}
              <a href="{% url 'tidp:mark-complete' project.id role.role.id role.company.id %}" class="btn btn-sm btn-danger">Proceed to complete tasks > </a>

            {% else %}

              <a href="{% url 'tidp:generate-tidp' project.id role.id %}" class="btn btn-success btn-sm">Generate TIDP for {{role.role.name}} <i class="fa fa-download"></i> </a>
              <a href="{% url 'tidp:view-tidp' project.id role.id %}" class="btn btn-info btn-sm">View TIDP <i class="fa fa-eye"></i> </a>
              <button type="button" class="btn btn-success btn-sm bs-modal" data-form-url="{% url 'tidp:role-status-update' role.id %}" data-toggle="tooltip"> Change Status: {{role.get_status_display}} </button>
            {% endif %}
            </div>
          </div>

          {% if role.comment %}
              <p><span class="text-warning font-weight-bold"><u>Comment:</u></span> {{role.comment}} </p>
          {% endif %}

          <div class="table-responsive">
            <table class="table table-sm table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>#</th>
                  <th>Description</th>
                  <th>Type</th>
                  <th>Unique Numbers</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for task in role.projecttask_set.all %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'tidp:task-detail' task.id %}">{{task.description}}</a> </td>
                    <td>{{task.task_type}} </td>
                    <td>{{ task.unique_code }} </td>
                    <td>
                      <a class="bs-modal" data-form-url="{% url 'tidp:projecttask-update' task.id %}" data-toggle="tooltip"><i class="fa fa-edit text-primary"></i></a>
                      <a class="bs-modal" data-form-url="{% url 'tidp:projecttask-delete' task.id %}" data-toggle="tooltip"><i class="fa fa-trash-alt text-danger"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endfor %}


        {% if True %}
          <div class="text-center">
            <a class="btn btn-success" href="{% url 'tidp:generate-midp' project.id %}"><i class="fa fa-eye"></i> Generate MIDP</a>
            <a class="btn btn-info" href="{% url 'tidp:view-midp' project.id %}"><i class="fa fa-eye"></i> View MIDP</a>
          </div>
        {% endif %}


      {% else %}
        <p>There are currently no task for this project.</p>
      {% endif %}

    </div>
  </div>

  <!--Invite Task Leaders -->
  <div class="tab-pane fade" id="leaders" role="tabpanel" aria-labelledby="leaders-tab">
    <div class="mt-3">
      <button class="btn btn-primary bs-modal" type="button" data-form-url="{% url 'tidp:taskleader-create' project.id %}" data-toggle="tooltip">
        <i class="fas fa-plus"></i> Invite New Task Leader
      </button>
      {% if task_leaders %}
        <div class="table-responsive mt-2">
          <table class="table">
            <thead>
              <tr>
                <th>Contact Person</th>
                <th>Email Address</th>
                <th>Originator</th>
                <th>Roles</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for leader in task_leaders %}
                <tr>
                  <td>{{leader.contact_person}} </td>
                  <td>{{leader.contact_email}} </td>
                  <td>{{leader.company}} </td>
                  <td>{{leader.roles.all|join:", "}} </td>
                  <td>
                    <a class="bs-modal" data-form-url="{% url 'tidp:update-taskleader' leader.id %}" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
                    <a class="bs-modal" data-form-url="{% url 'tidp:delete-taskleader' leader.id %}"><i class="fas fa-trash-alt text-danger"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>There are currently no task leader for this project</p>
      {% endif %}
    </div>
  </div>

  <!--Invite Task Members -->
  <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
    <div class="mt-3">
      <button class="btn btn-primary bs-modal" type="button" data-form-url="{% url 'tidp:taskmember-create' project.id %}" data-toggle="tooltip">
        <i class="fas fa-plus"></i> Invite New Task Member
      </button>
      {% if task_members %}
        <div class="table-responsive mt-2">
          <table class="table">
            <thead>
              <tr>
                <th>Contact Person</th>
                <th>Email Address</th>
                <th>Originator</th>
                <th>Roles</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for member in task_members %}
                <tr>
                  <td>{{member.contact_person}} </td>
                  <td>{{member.contact_email}} </td>
                  <td>{{member.company}} </td>
                  <td>{{member.roles.all|join:", "}} </td>
                  <td>
                    <a class="bs-modal" data-form-url="{% url 'tidp:taskmember-update' member.id %}" data-toggle="tooltip"><i class="fas fa-edit"></i></a>
                    <a class="bs-modal" data-form-url="{% url 'tidp:taskmember-delete' member.id %}"><i class="fas fa-trash-alt text-danger"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>There are currently no task member for this project</p>
      {% endif %}
    </div>
  </div>



</div>


<div class="modal fade" role="dialog" id="modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>

{% endblock content %}



{% block script %}
  <script type="text/javascript">
    $(document).ready(function() {
        $(".bs-modal").each(function () {
            $(this).modalForm({
                formURL: $(this).data('form-url')
            });
        });

    });
  </script>
{% endblock script %}
